@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?yvg2zf');
	src:url('../fonts/icomoon.eot?#iefixyvg2zf') format('embedded-opentype'),
		url('../fonts/icomoon.woff?yvg2zf') format('woff'),
		url('../fonts/icomoon.ttf?yvg2zf') format('truetype'),
		url('../fonts/icomoon.svg?yvg2zf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="new-icon-"], [class*=" new-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.new-icon-cart:before {
	content: "\e656";
}
.new-icon-bulb:before {
	content: "\e655";
}
.new-icon-download:before {
	content: "\e654";
}
.new-icon-home:before {
	content: "\e601";
}
.new-icon-bar:before {
	content: "\e653";
}
.new-icon-right:before {
	content: "\e651";
}
.new-icon-left:before {
	content: "\e652";
}
.new-icon-unlock:before {
	content: "\e650";
}
.new-icon-verify:before {
	content: "\e64a";
}
.new-icon-date:before {
	content: "\e64b";
}
.new-icon-log:before {
	content: "\e64c";
}
.new-icon-forbid:before {
	content: "\e64d";
}
.new-icon-transfer:before {
	content: "\e64e";
}
.new-icon-reader:before {
	content: "\e64f";
}
.new-icon-phone:before {
	content: "\e648";
}
.new-icon-file:before {
	content: "\e649";
}
.new-icon-ol:before {
	content: "\e63e";
}
.new-icon-undo:before {
	content: "\e646";
}
.new-icon-redo:before {
	content: "\e647";
}
.new-icon-bold:before {
	content: "\e63a";
}
.new-icon-italic:before {
	content: "\e63b";
}
.new-icon-underline:before {
	content: "\e63c";
}
.new-icon-ul:before {
	content: "\e63d";
}
.new-icon-image:before {
	content: "\e63f";
}
.new-icon-video:before {
	content: "\e640";
}
.new-icon-quote:before {
	content: "\e641";
}
.new-icon-code:before {
	content: "\e642";
}
.new-icon-preview:before {
	content: "\e643";
}
.new-icon-help:before {
	content: "\e644";
}
.new-icon-h:before {
	content: "\e645";
}
.new-icon-prestige:before {
	content: "\e638";
}
.new-icon-v:before {
	content: "\e639";
}
.new-icon-score:before {
	content: "\e637";
}
.new-icon-plus:before {
	content: "\e635";
}
.new-icon-followed:before {
	content: "\e636";
}
.new-icon-mytopic:before {
	content: "\e633";
}
.new-icon-up:before {
	content: "\e634";
}
.new-icon-trash:before {
	content: "\e632";
}
.new-icon-fold:before {
	content: "\e62c";
}
.new-icon-thank:before {
	content: "\e62d";
}
.new-icon-report:before {
	content: "\e62e";
}
.new-icon-qzone:before {
	content: "\e62f";
}
.new-icon-at:before {
	content: "\e630";
}
.new-icon-attach:before {
	content: "\e631";
}
.new-icon-bell:before {
	content: "\e62b";
}
.new-icon-triangle:before {
	content: "\e62a";
}
.new-icon-wechat:before {
	content: "\e628";
}
.new-icon-lock:before {
	content: "\e629";
}
.new-icon-i:before {
	content: "\e626";
}
.new-icon-bubble:before {
	content: "\e627";
}
.new-icon-flag:before {
	content: "\e625";
}
.new-icon-txweibo:before {
	content: "\e622";
}
.new-icon-bestbg:before {
	content: "\e623";
}
.new-icon-best:before {
	content: "\e624";
}
.new-icon-job:before {
	content: "\e61e";
}
.new-icon-favor:before {
	content: "\e620";
}
.new-icon-down:before {
	content: "\e621";
}
.new-icon-location:before {
	content: "\e61d";
}
.new-icon-bind:before {
	content: "\e61f";
}
.new-icon-weibo:before {
	content: "\e618";
}
.new-icon-qq:before {
	content: "\e619";
}
.new-icon-signup:before {
	content: "\e61a";
}
.new-icon-users:before {
	content: "\e61b";
}
.new-icon-topic:before {
	content: "\e61c";
}
.new-icon-login:before {
	content: "\e617";
}
.new-icon-logout:before {
	content: "\e616";
}
.new-icon-insert:before {
	content: "\e612";
}
.new-icon-setting:before {
	content: "\e615";
}
.new-icon-inbox:before {
	content: "\e614";
}
.new-icon-pic:before {
	content: "\e610";
}
.new-icon-user:before {
	content: "\e613";
}
.new-icon-delete:before {
	content: "\e611";
}
.new-icon-comment:before {
	content: "\e60f";
}
.new-icon-share:before {
	content: "\e60e";
}
.new-icon-loading:before {
	content: "\e60d";
}
.new-icon-inviteask:before {
	content: "\e60c";
}
.new-icon-list:before {
	content: "\e602";
}
.new-icon-ask:before {
	content: "\e603";
}
.new-icon-search:before {
	content: "\e604";
}
.new-icon-more:before {
	content: "\e605";
}
.new-icon-agree:before {
	content: "\e600";
}
.new-icon-disagree:before {
	content: "\e606";
}
.new-icon-reply:before {
	content: "\e607";
}
.new-icon-draft:before {
	content: "\e608";
}
.new-icon-check:before {
	content: "\e609";
}
.new-icon-invite:before {
	content: "\e60a";
}
.new-icon-edit:before {
	content: "\e60b";
}
.mobile_new-icon{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.mobile_new-icon-login:before {content: "\e617";}
.mobile_new-icon-weibo:before {content: "\e618";}
.mobile_new-icon-qq:before {content: "\e619";}
.mobile_new-icon-signup:before {content: "\e61a";}
.mobile_new-icon-search:before{content:"\e604";}
.mobile_new-icon-topic:before{content:"\e61c";}
.mobile_new-icon-user:before{content:"\e613";}
.mobile_new-icon-inbox:before{content:"\e614";}
.mobile_new-icon-setting:before{content:"\e615";}
.mobile_new-icon-logout:before{content:"\e616";}