<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jia.sms.mapper.SmsConfigMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        client_id, short_name, reply_url, remain
    </sql>

    <update id="reduce" parameterType="java.lang.String">
        update sms_config set remain = remain - 1 where client_id = #{clientId,jdbcType=VARCHAR}
    </update>
</mapper>
