<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jia.point.mapper.PointGiftUsageMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, client_id, gift_id, name, description, pic_url, jiacn, quantity, point, price, consignee, phone, address, card_no, status, time
    </sql>

</mapper>
