<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jia.point.dao.ReferralMapper">
  <resultMap id="BaseResultMap" type="cn.jia.point.entity.Referral">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="referrer" jdbcType="VARCHAR" property="referrer" />
    <result column="referral" jdbcType="VARCHAR" property="referral" />
    <result column="time" jdbcType="INTEGER" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, referrer, referral, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point_referral
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from point_referral
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jia.point.entity.Referral">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into point_referral (referrer, referral, time
      )
    values (#{referrer,jdbcType=VARCHAR}, #{referral,jdbcType=VARCHAR}, #{time,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.jia.point.entity.Referral">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into point_referral
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="referrer != null">
        referrer,
      </if>
      <if test="referral != null">
        referral,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="referrer != null">
        #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="referral != null">
        #{referral,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jia.point.entity.Referral">
    update point_referral
    <set>
      <if test="referrer != null">
        referrer = #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="referral != null">
        referral = #{referral,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jia.point.entity.Referral">
    update point_referral
    set referrer = #{referrer,jdbcType=VARCHAR},
      referral = #{referral,jdbcType=VARCHAR},
      time = #{time,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByReferral" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point_referral
    where referral = #{referral,jdbcType=VARCHAR}
  </select>
</mapper>