<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jia.isp.mapper.CarBrandMfMapper">
  <resultMap id="BaseResultMap" type="cn.jia.isp.entity.CarBrandMfEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="brand" jdbcType="BIGINT" property="brand" />
    <result column="brand_mf" jdbcType="VARCHAR" property="brandMf" />
    <result column="abbr" jdbcType="VARCHAR" property="abbr" />
    <result column="initials" jdbcType="VARCHAR" property="initials" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_id, brand, brand_mf, abbr, initials
  </sql>

  <select id="selectByExample" parameterType="cn.jia.isp.entity.CarBrandMfEntity" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
    from car_brand_mf
    <where>
      <if test="brand != null">
        brand = #{brand,jdbcType=BIGINT}
      </if>
      <if test="brandMf != null">
        and brand_mf LIKE CONCAT('%',#{brandMf,jdbcType=VARCHAR},'%')
      </if>
      <if test="abbr != null">
        and abbr LIKE CONCAT('%',#{abbr,jdbcType=VARCHAR},'%')
      </if>
      <if test="initials != null">
        and initials = #{initials,jdbcType=CHAR}
      </if>
      <if test="clientId != null">
        and (client_id = #{clientId,jdbcType=CHAR} or client_id is null)
      </if>
    </where>
  </select>
</mapper>