<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jia.kefu.dao.KefuMessageMapper" >
  <resultMap id="BaseResultMap" type="cn.jia.kefu.entity.KefuMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
    <result column="entity_id" property="entityId" jdbcType="INTEGER" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="jiacn" property="jiacn" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="reply" property="reply" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, resource_id, entity_id, client_id, jiacn, name, phone, email, title, content, 
    attachment, reply, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kefu_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kefu_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jia.kefu.entity.KefuMessage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into kefu_message (resource_id, entity_id, client_id, 
      jiacn, name, phone, 
      email, title, content, 
      attachment, reply, status, 
      create_time, update_time)
    values (#{resourceId,jdbcType=VARCHAR}, #{entityId,jdbcType=INTEGER}, #{clientId,jdbcType=VARCHAR}, 
      #{jiacn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{attachment,jdbcType=VARCHAR}, #{reply,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.jia.kefu.entity.KefuMessage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into kefu_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="entityId != null" >
        entity_id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="jiacn != null" >
        jiacn,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="reply != null" >
        reply,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null" >
        #{entityId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="jiacn != null" >
        #{jiacn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="reply != null" >
        #{reply,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jia.kefu.entity.KefuMessage" >
    update kefu_message
    <set >
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="entityId != null" >
        entity_id = #{entityId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="jiacn != null" >
        jiacn = #{jiacn,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="reply != null" >
        reply = #{reply,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jia.kefu.entity.KefuMessage" >
    update kefu_message
    set resource_id = #{resourceId,jdbcType=VARCHAR},
      entity_id = #{entityId,jdbcType=INTEGER},
      client_id = #{clientId,jdbcType=VARCHAR},
      jiacn = #{jiacn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      reply = #{reply,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByExample" parameterType="cn.jia.kefu.entity.KefuMessageExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from kefu_message
    <where>
      <if test="clientId != null and clientStrictFlag != 1">
        (client_id = #{clientId,jdbcType=VARCHAR} or client_id is null)
      </if>
      <if test="clientId != null and clientStrictFlag == 1">
        client_id = #{clientId,jdbcType=VARCHAR}
      </if>
      <if test="clientId == null and clientStrictFlag == 1">
        client_id is null
      </if>
      <if test="entityId != null">
        and entity_id = #{entityId,jdbcType=INTEGER}
      </if>
      <if test="resourceId != null">
        and resource_id = #{resourceId,jdbcType=VARCHAR}
      </if>
      <if test="jiacn != null">
        and jiacn = #{jiacn,jdbcType=VARCHAR}
      </if>
      <if test="phone != null">
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="title != null">
        and title LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
      </if>
      <if test="content != null">
        and content LIKE CONCAT('%',#{content,jdbcType=VARCHAR},'%')
      </if>
      <if test="reply != null">
        and reply LIKE CONCAT('%',#{reply,jdbcType=VARCHAR},'%')
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="createTimeStart != null">
        and create_time >= #{createTimeStart,jdbcType=BIGINT}
      </if>
      <if test="createTimeEnd != null">
        and #{createTimeEnd,jdbcType=BIGINT} >= create_time
      </if>
      <if test="updateTimeStart != null">
        and update_time >= #{updateTimeStart,jdbcType=BIGINT}
      </if>
      <if test="updateTimeEnd != null">
        and #{updateTimeEnd,jdbcType=BIGINT} >= update_time
      </if>
    </where>
  </select>
</mapper>