<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jia.mat.mapper.MatVoteQuestionMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, vote_id, title, multi, point, opt
    </sql>

    <select id="selectNoTick" parameterType="java.lang.String" resultType="cn.jia.mat.entity.MatVoteQuestionEntity">
        select
        <include refid="Base_Column_List" />
        from mat_vote_question
        where id not in (select question_id from mat_vote_tick where jiacn = #{jiacn})
        limit 1
    </select>
</mapper>
