<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jia.user.mapper.InfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, username, password, openid, jiacn, phone, email, sex, nickname, avatar, city, country, province, latitude, longitude, point, referrer, birthday, tel, weixin, qq, position, status, remark, msg_type, subscribe
    </sql>

</mapper>
