<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jia.user.mapper.OrgMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        update_time,
        create_time,
        id, client_id, name, p_id, type, code, remark, director, logo, logo_icon, status
    </sql>

</mapper>
