<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jia.material.dao.PhraseVoteMapper" >
  <resultMap id="BaseResultMap" type="cn.jia.material.entity.PhraseVote" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jiacn" property="jiacn" jdbcType="VARCHAR" />
    <result column="phrase_id" property="phraseId" jdbcType="INTEGER" />
    <result column="vote" property="vote" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jiacn, phrase_id, vote, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mat_phrase_vote
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mat_phrase_vote
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jia.material.entity.PhraseVote" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mat_phrase_vote (jiacn, phrase_id, vote, 
      time)
    values (#{jiacn,jdbcType=VARCHAR}, #{phraseId,jdbcType=INTEGER}, #{vote,jdbcType=INTEGER}, 
      #{time,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.jia.material.entity.PhraseVote" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mat_phrase_vote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jiacn != null" >
        jiacn,
      </if>
      <if test="phraseId != null" >
        phrase_id,
      </if>
      <if test="vote != null" >
        vote,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jiacn != null" >
        #{jiacn,jdbcType=VARCHAR},
      </if>
      <if test="phraseId != null" >
        #{phraseId,jdbcType=INTEGER},
      </if>
      <if test="vote != null" >
        #{vote,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jia.material.entity.PhraseVote" >
    update mat_phrase_vote
    <set >
      <if test="jiacn != null" >
        jiacn = #{jiacn,jdbcType=VARCHAR},
      </if>
      <if test="phraseId != null" >
        phrase_id = #{phraseId,jdbcType=INTEGER},
      </if>
      <if test="vote != null" >
        vote = #{vote,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jia.material.entity.PhraseVote" >
    update mat_phrase_vote
    set jiacn = #{jiacn,jdbcType=VARCHAR},
      phrase_id = #{phraseId,jdbcType=INTEGER},
      vote = #{vote,jdbcType=INTEGER},
      time = #{time,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>