<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jia.material.dao.VoteTickMapper" >
  <resultMap id="BaseResultMap" type="cn.jia.material.entity.VoteTick" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jiacn" property="jiacn" jdbcType="VARCHAR" />
    <result column="vote_id" property="voteId" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="opt" property="opt" jdbcType="VARCHAR" />
    <result column="tick" property="tick" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jiacn, vote_id, question_id, opt, tick, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mat_vote_tick
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mat_vote_tick
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jia.material.entity.VoteTick" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mat_vote_tick (jiacn, vote_id, question_id, 
      opt, tick, time)
    values (#{jiacn,jdbcType=VARCHAR}, #{voteId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, 
      #{opt,jdbcType=VARCHAR}, #{tick,jdbcType=INTEGER}, #{time,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.jia.material.entity.VoteTick" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mat_vote_tick
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jiacn != null" >
        jiacn,
      </if>
      <if test="voteId != null" >
        vote_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="opt != null" >
        opt,
      </if>
      <if test="tick != null" >
        tick,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jiacn != null" >
        #{jiacn,jdbcType=VARCHAR},
      </if>
      <if test="voteId != null" >
        #{voteId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="opt != null" >
        #{opt,jdbcType=VARCHAR},
      </if>
      <if test="tick != null" >
        #{tick,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jia.material.entity.VoteTick" >
    update mat_vote_tick
    <set >
      <if test="jiacn != null" >
        jiacn = #{jiacn,jdbcType=VARCHAR},
      </if>
      <if test="voteId != null" >
        vote_id = #{voteId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
      <if test="opt != null" >
        opt = #{opt,jdbcType=VARCHAR},
      </if>
      <if test="tick != null" >
        tick = #{tick,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jia.material.entity.VoteTick" >
    update mat_vote_tick
    set jiacn = #{jiacn,jdbcType=VARCHAR},
      vote_id = #{voteId,jdbcType=INTEGER},
      question_id = #{questionId,jdbcType=INTEGER},
      opt = #{opt,jdbcType=VARCHAR},
      tick = #{tick,jdbcType=INTEGER},
      time = #{time,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByVoteId" parameterType="java.lang.Integer">
    delete from mat_vote_tick
    where vote_id = #{voteId,jdbcType=INTEGER}
  </delete>
  <select id="selectByJiacn" parameterType="cn.jia.material.entity.VoteTick" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mat_vote_tick
    where jiacn = #{jiacn,jdbcType=VARCHAR} and vote_id = #{voteId,jdbcType=INTEGER}
  </select>
</mapper>